@font-face {
  font-family: "Ortica Linear Regular";
  src: url("./fonts/OrticaLinear-Regular.woff2");
}

@font-face {
  font-family: "Ortica Angular Bold";
  src: url("./fonts/OrticaAngular-Bold.woff2");
}