html{
	height:  100%;
	margin: 0;
	padding: 0;
	cursor: default;
}

body {
	height: 100%;
	padding: 1%;
	margin: 0;
  	box-sizing: border-box;
	display: flex;
    justify-content: center;
	background: black;
}

#webcam {
  width: auto;
  height: 100%;
  border-radius: 25px;
  background: white;
}
