html{
	height:  100%;
	margin: 0;
	padding: 0;
	cursor: default;
}

body {
	height: 100%;
	padding: 1%;
	margin: 0;
  	box-sizing: border-box;
	display: grid;
	position: fixed;
	grid-template-columns: repeat(2, 8%) 16% repeat(2, 8%) 4% repeat(3, 1fr);
	grid-template-rows: 50% 50%;
}

h1{
	margin: 0;
	padding: 0;
	grid-column: 1;
	grid-row: 1;
	position: fixed;
	font-family: "Unica77MonoRegular", monospace;
	font-size: 10px;
	font-weight: normal;
}

a {
    all: unset;
	cursor: pointer;
}

/* text */

.left {
	width: auto;
	height: auto;
	margin: 0;
	padding: 0;
	display: contents;
	position: absolute;

	font-family: "Unica77Regular", sans-serif;
	font-size: 11px;
}

.tags p{
	margin: inherit;
	grid-row: 1;
	align-self: end;
	justify-self: start;
}

.text p{
	margin-top: 10px;
	grid-row: 2;
	grid-column: 1 / 6;
	align-self: start;
	justify-self: start;
	text-align: justify;
}

.tags p:nth-child(4),
.tags p:nth-child(5){ 
	justify-self: end;
}



/* image */

.right {
	grid-column: 7 / 10;
	overflow: auto;
	grid-row: 1 / 3;
}

.image {
    grid-column: 7;
    display: flex;
    flex-direction: column;
    /* align-items: stretch; */
    /* justify-content: flex-start; */
    width: 100%;
    height: 100%;
}

.image img {
    width: 100%;  
    height: auto;   
    display: block;
	margin-bottom: 5px;
}

.imageTwo {
    grid-column: 8 / 10;
    display: flex;
    flex-direction: column;
    /* align-items: stretch; */
    /* justify-content: flex-start; */
    width: 100%;
    height: 100%;
}

.imageTwo img {
    width: 100%;  
    height: auto;   
    display: block;
	margin-bottom: 5px;
}